/* Main style */
body {
    font-family: 'Open Sans';
    font-size: 16px;
}

/* Header styles */
.header {
    padding: 10px;
    background: black;
    color: white;
    margin-bottom: 50px;
}
.header h1 {
    font-size: 1.5em;
}

/* Intro styles */
#intro p {
    font-size: 1.2em;
}
#intro img {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 5px solid black;
}

/* Questions styles */
#questions {
    width: 375px;
    padding: 20px;
    margin: 0 auto;
    font-size: 1.5em;
    background: #e5e4e2;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
#question-count {
    margin-bottom: 30px;
}
.progress-bar {
    width: 0%;
    height: 20px;
    color: #eceeef;
}
.questionText {
    color: #6e6f7b;
}
.radio input[type=radio]{
    display:none
}
.radio label {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background: #55acee;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2);*/
}
.radio label:hover {
    cursor: pointer;
}
#options-list {
    margin-bottom: 50px;
}
.options {
    color: white;
    font-size: 0.8em;
}

/* Action button styles */
#action-buttons {
    margin-bottom: 50px;
}
.action-button a {
    color: white;
}
.action-button a:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.btn-green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
  margin-right: 50px;
}
.btn-green:hover {
  background-color: #48E68B;
}
.btn-red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}
.btn-red:hover {
  background-color: #FF6656;
}

/* Success and failure screens */
.answer-success img, .answer-failure img {
    width: 25%;
    margin-bottom: 30px;
}
.answer-success h2, .answer-failure h2 {
    margin-bottom: 30px;
}
.continue {
    color: white;
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}
.continue:hover {
    background-color: #6FC6FF;
    cursor: pointer;
}
.continue:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}