/**

Hey there, looks like you liked this quiz enough to take a peek at the source code.
Thanks for doing so!

This project was made by Daksh Shah and you can read more about him at https://daksh.me

**/

/* Main style */
body {
    font-family: 'Open Sans';
    font-size: 16px;
    background-image: url('../img/black-bg.png');
}

/* Header styles */
.header {
    padding-top: 10px;
    background: black;
    border-bottom: 2px solid darkgray;
    color: white;
    margin-bottom: 50px;
}
.header h1 {
    font-size: 1.5em;
    font-family: 'Montserrat';
}
.header a {
    color: white;
}

/* Intro styles */
#intro p {
    font-size: 1.2em;
}
#intro img {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 5px solid black;
}
#btn-start {
    width: 250px;
    margin: 0 auto;
}

/* Questions styles */
#questions {
    width: 375px;
    padding: 30px 30px 10px 30px;
    margin: 0 auto;
    font-size: 1.5em;
    border-radius: 10px;
    background: #e5e4e2;
    box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.05) inset, 0px 0px 50px rgba(82, 168, 236, 0.6);
    /*box-shadow: 0px 3px 15px rgba(0,0,0,0);*/
    margin-bottom: 50px;
}
#question-count {
    margin-bottom: 30px;
}
.progress-bar {
    width: 0%;
    height: 20px;
    color: #eceeef;
}
.questionText {
    color: black;
}
.radio input[type=radio]{
    display:none
}
.radio label {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background: #55acee;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2);*/
}
.radio label:hover {
    cursor: pointer;
}
#options-list {
    margin-bottom: 50px;
}
.options {
    color: white;
    font-size: 0.8em;
}

/* Action button styles */
#action-buttons {
    margin-bottom: 15px;
}
.action-button a {
    color: white;
}
.action-button a:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
#action-buttons .btn-next {
    margin-right: 50px;
}
.btn-green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}
.btn-green:hover {
  background-color: #48E68B;
}
.btn-red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}
.btn-red:hover {
  background-color: #FF6656;
}

/* Success and failure screens */
.answer-success img, .answer-failure img {
    width: 25%;
    margin-bottom: 30px;
}
.answer-success h2, .answer-failure h2 {
    margin-bottom: 30px;
}
.continue {
    color: white;
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    margin-bottom: 20px;
}
.continue:hover {
    background-color: #6FC6FF;
    cursor: pointer;
}
.continue:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

/* Finish screen */
#finish h2 {
    margin-bottom: 20px;
}
#finish img {
    border: 2px solid gray;
    margin-bottom: 20px;
}
#finish a {
    color: white;
}
#finish .btn-reset {
    margin-bottom: 20px;
}

/* MEDIA QUERIES */
@media only screen and (max-width:405px) {
    #questions {
        width: 300px;
    }
    #action-buttons .btn-next {
        margin-right: 10px;
    }
}

/* Fontello CSS */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?5243917');
  src: url('../font/fontello.eot?5243917#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?5243917') format('woff2'),
       url('../font/fontello.woff?5243917') format('woff'),
       url('../font/fontello.ttf?5243917') format('truetype'),
       url('../font/fontello.svg?5243917#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?5243917#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-play:before { content: '\e800'; } /* '' */
.icon-cw:before { content: '\e801'; } /* '' */